# Credit card churn analysis initial investigations and data cleaning

 I first import all necessary libraries and then import the raw data ready for analysis.

In [197]:
import pandas as pd
import numpy as np

In [198]:
df = pd.read_csv('../data/BankChurners.csv')
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

### Dropping collumns:

First step in cleaning my data I notice that some of the collumns are unnecessary for analysis and need to be dropped.

In [199]:
df = df.drop(labels=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'], axis=1)
df = df.drop(labels=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1'], axis=1)
df.head(5)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

### Sampling:

I check how large the data set is and then sample the data to a more appropriate size.

In [200]:
df.shape

(10127, 21)

This data set is quite large and might be slow in processing analysis, therefore I will sample it down to 1000 rows.

In [201]:
df = df.sample(n=1000, random_state=1)
df.shape

(1000, 21)

### Checking for missing values:

I check for missing values with .isnull()

In [202]:
df.isnull().sum()

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

There aren't any null values to remove

### Checking data types:

I need to check the data types of each varaible to make sure it corresponds with what we require for analysis

In [203]:
df.dtypes

CLIENTNUM                     int64
Attrition_Flag               object
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
dtype: object

All of the data types line up with what we expect for each varaible

### Checking for errors in the data:

I need to check what unique values the categorical varaibles have to detect any errors.

#### Attrition Flag:

In [204]:
df['Attrition_Flag'].unique()

array(['Existing Customer', 'Attrited Customer'], dtype=object)

Attrition_Flag has no errors.

#### Gender:

In [205]:
df['Gender'].unique()

array(['F', 'M'], dtype=object)

For clarity I am going to replace 'F' with 'Female' and 'M' with 'Male'

In [206]:
df = df.replace({'Gender': {'M': 'Male', 'F': 'Female'}})

In [207]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

#### Education Level:

In [208]:
df['Education_Level'].unique()

array(['Graduate', 'College', 'Doctorate', 'Post-Graduate', 'High School',
       'Unknown', 'Uneducated'], dtype=object)

'Unknown' requires more investigation.

In [209]:
df.value_counts('Education_Level')

Education_Level
Graduate         310
High School      206
Unknown          158
Uneducated       133
College           97
Post-Graduate     55
Doctorate         41
Name: count, dtype: int64

Since unkown education level is such a high amount of the sample I will keep it in the data set

#### Marital Status:

In [210]:
df['Marital_Status'].unique()

array(['Married', 'Unknown', 'Single', 'Divorced'], dtype=object)

'Unknown' requires more investigation.

In [211]:
df.value_counts('Marital_Status')

Marital_Status
Married     431
Single      415
Divorced     78
Unknown      76
Name: count, dtype: int64

Unknown for marital status is dramatically less than the unkown for education level but it's still a fair amount of data so I will keep it in the data set

#### Income Category:

In [212]:
df['Income_Category'].unique()

array(['Less than $40K', '$60K - $80K', '$120K +', '$80K - $120K',
       '$40K - $60K', 'Unknown'], dtype=object)

'Unknown' requires more investigation.

In [213]:
df.value_counts('Income_Category')

Income_Category
Less than $40K    348
$40K - $60K       182
$60K - $80K       143
$80K - $120K      142
Unknown           101
$120K +            84
Name: count, dtype: int64

unknown is a large category for income so I will keep it and it might be an interesting line of investigation if customers with unknown incomes churn more.

#### Card Category:

In [214]:
df['Card_Category'].unique()

array(['Blue', 'Silver', 'Gold'], dtype=object)

Card Category has no errors.

#### **I am satisfied that there are no errors in the categorical variables**

### Checking for duplicates:

The CLIENTNUM variable should be unique to each individual customer so would be a good place to check for duplicates

In [215]:
df['CLIENTNUM'].nunique()

1000

The CLIENTNUM variable alligns with the shape of the data frame indicating there are no duplicates across the data set

### Anonymising the data:

To anonymyse the data I am going to remove the CLIENTNUM variable as financial data is highly sensitive.

In [216]:
df = df.reset_index(drop=True)
if 'CLIENTNUM' in df.columns:
    df = df.drop(columns=['CLIENTNUM'])
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,43,Female,2,Graduate,Married,Less than $40K,Blue,36,6,3,2,2570.0,2107,463.0,0.651,4058,83,0.766,0.820
1,Existing Customer,38,Female,1,College,Unknown,Less than $40K,Blue,32,2,3,3,2609.0,1259,1350.0,0.871,8677,96,0.627,0.483
2,Existing Customer,39,Male,2,College,Married,$60K - $80K,Blue,31,6,3,2,9871.0,1061,8810.0,0.545,1683,34,0.478,0.107
3,Existing Customer,44,Male,4,Graduate,Married,$120K +,Blue,32,6,3,4,34516.0,2517,31999.0,0.765,4228,83,0.596,0.073
4,Attrited Customer,38,Female,2,Doctorate,Married,Less than $40K,Blue,28,5,2,4,1614.0,0,1614.0,0.609,2437,46,0.438,0.000

### Saving the cleaned data:

I am now satisfied that the data is clean and I can now save the cleaned data to a new file

In [217]:
df.to_csv("../data/cleaned.csv", index=False)

**Data visualisations can be found in the [Visualisations Jupyter notebook](https://github.com/Janeweightman/Credit-card-churn-analysis/blob/main/jupyter_notebooks/Visualisations.ipynb) in this repository.**