# **Credit card churn analysis visualisations**

first I need to import all the libraries and import the cleaned data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px

In [3]:
df = pd.read_csv('../data/cleaned.csv')
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,712389108,Existing Customer,43,Female,2,Graduate,Married,Less than $40K,Blue,36,...,3,2,2570.0,2107,463.0,0.651,4058,83,0.766,0.820
1,718388733,Existing Customer,38,Female,1,College,Unknown,Less than $40K,Blue,32,...,3,3,2609.0,1259,1350.0,0.871,8677,96,0.627,0.483
2,710109633,Existing Customer,39,Male,2,College,Married,$60K - $80K,Blue,31,...,3,2,9871.0,1061,8810.0,0.545,1683,34,0.478,0.107
3,717331758,Existing Customer,44,Male,4,Graduate,Married,$120K +,Blue,32,...,3,4,34516.0,2517,31999.0,0.765,4228,83,0.596,0.073
4,709460883,Attrited Customer,38,Female,2,Doctorate,Married,Less than $40K,Blue,28,...,2,4,1614.0,0,1614.0,0.609,2437,46,0.438,0.000